body{
    background-color: burlywood;
}

a[href="https://www.franbyfr.com.br/chocochilli-fran-by-franciny-ehlke-edicao-limitada-p142" ] {color: rgba(168, 0, 0, 0.63);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', (Arial), 'sans-serif';
}
    
img{
    width: 50%;
    position: absolute;
    left: 17%;
    top: 50%;
}

h3{
    border: 2px dotted snow
}